.clumbs {
	display: flex;
	align-items: center;
	gap: 8px;
}

.clump-item {
	text-decoration: none;
	font-weight: 300;
	font-size: 12px;
	line-height: 14px;
	color: var(--text--dark);

	&:last-child {
		font-weight: 700;
		pointer-events: none;
	}
}

.contact-info__box {
	max-width: 550px;
}

.top-header {
	font-weight: 700;
	font-size: 40px;
	line-height: 40px;
	color: var(--main-color);
}

.top-header--modif {
	margin: 57px 0 22px;
}

.contact__description {
	font-weight: 400;
	font-size: 16px;
	line-height: 30px;

	a {
		color: var(--main-color);
	}
}

@media screen and (min-width: 768px) {
	.clump-item {
		font-size: 16px;
		line-height: 18px;
	}

	.top-header {
		font-size: 60px;
		line-height: 120px;
	}

	.top-header--modif {
		margin-top: 61px;
		margin-bottom: 0;
	}
}

@media screen and (min-width: 1024px) {
	.clump-item {
		font-size: 18px;
		line-height: 21px;
	}

	.top-header {
		font-size: 80px;
	}

	.contact__description {
		font-size: 20px;
	}

}