@mixin flexColumnStart {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

footer {
	background: rgb(56, 138, 243);
	background: linear-gradient(93.29deg, var(--main-color) 21.04%, #A483E2 88.77%);
	color: #ffffff;
	padding: 51px 0 21px;

	a {
		color: #ffffff;
		text-decoration: none;
	}
}

.footer__top-flex {
	display: flex;
	flex-direction: column;
	gap: 44px;
}

.footer__logo {
	width: 112px;
	height: auto;

	svg {
		width: 100%;
	}
}

.footer__content {
	display: flex;
	flex-direction: column;
	gap: 50px;
}

.service,
.company {
	width: 200px;
	min-width: 200px;
	@include flexColumnStart();
}

.contacts {
	display: flex;
	width: 268px;
	justify-content: space-between;
	align-items: stretch;
}

.contacts__main {
	max-width: 210px;
	@include flexColumnStart();
}

.contacts__messengers {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	gap: 20px;
}

.telegramm,
.whatsup {
	width: 34px;
	height: 34px;
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	transition: .25s;

	&:hover {
		scale: 1.2;
	}
}

.telegramm {
	background-image: url(./../asset/img/telegramm.svg);
}

.whatsup {
	background-image: url(./../asset/img/whatsup.svg);
}

.footer__title {
	font-weight: 700;
	font-size: 25px;
	line-height: 31px;
	display: flex;
	align-items: center;
	gap: 10px;

	&::after {
		content: '';
		display: block;
		width: 9px;
		height: 9px;
		border-radius: 50%;
		background-color: #ffffff;
	}
}

.footer-meny-item {
	font-size: 14px;
	line-height: 17px;
	font-weight: 600;
	transition: .25s;

	&.arrow {
		display: flex;
		align-items: center;
		gap: 8px;

		&::after {
			content: '';
			display: block;
			width: 12px;
			height: 12px;
			background-size: 100%;
			background-repeat: no-repeat;
			background-position: center;
			background-image: url(./../asset/img/arr.svg);
		}
	}

	&:hover {
		text-decoration: underline;
	}

	&.tel {
		font-size: 20px;
		line-height: 24px;
	}
}

.footer__bottom-flex {
	display: flex;
	gap: 10px;
	flex-direction: column;
	margin-top: 57px;

	a,
	p {
		font-weight: 600;
		font-size: 14px;
		line-height: 17px;
	}

	a:hover {
		text-decoration: underline;
	}
}

@media screen and (min-width: 768px) {
	.footer__top-flex {
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	.footer__logo {
		margin-right: 195px;
	}

	.footer__content {
		flex: auto;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
		gap: unset;
	}

	.footer__bottom-flex {
		flex-direction: row;
		justify-content: space-between;
		flex-direction: row-reverse;
	}
}