.form__box {
	margin-top: 70px;
	width: 100%;
}

.input-container {
	height: 44px;
	position: relative;
	width: 100%;
	border-bottom: 1px solid #e2e2e2;
	margin-bottom: 50px;

	&.txt--area {
		height: 90px;
		padding-top: 8px;
		margin-bottom: 34px;
	}
}

.txt--area {
	textarea {
		width: 100%;
		height: 100%;
		resize: none;
		overflow: auto;

		&::-webkit-scrollbar {
			display: none;
		}
	}

}

.input {
	background-color: transparent;
	border: 0;
	color: var(--text--dark);
	font-size: 22px;
	line-height: 26px;
	height: 100%;
	outline: 0;
	width: 100%;
}

.placeholder {
	color: #65657b;
	font-weight: 300;
	font-size: 22px;
	line-height: 26px;
	left: 0;
	top: 0;
	pointer-events: none;
	position: absolute;
	transition: .25s;

	sup {
		color: #dc2f55;
	}
}

.input:focus~.placeholder,
.input:not(:placeholder-shown)~.placeholder {
	top: -10px;
	font-size: 14px;
	line-height: 16px;
	transition: .25s;
}

.round__checkbox {
	opacity: 0;
	position: absolute;
}

.checkbox__label {
	display: inline-block;
	position: relative;
	line-height: 30px;
	padding-left: 50px;
	cursor: pointer;
	font-weight: 400;
	font-size: 18px;
	line-height: 27px;

	a {
		color: var(--main-color);
	}

	&::before {
		content: '';
		display: block;
		width: 28px;
		height: 28px;
		border: solid 1px #e2e2e2;
		border-radius: 50%;
		position: absolute;
		top: 0;
		left: 0;
	}

	&::after {
		content: '';
		display: block;
		width: 10px;
		height: 10px;
		border-radius: 50%;
		background-color: var(--main-color);
		position: absolute;
		top: 10px;
		left: 10px;
		transition: .25s;
	}
}

.round__checkbox:checked {
	&+.checkbox__label {
		&::after {
			width: 30px;
			height: 30px;
			top: 0;
			left: 0;
			transition: .25s;
		}
	}
}

.plane {
	width: 55px;
	height: 40px;
	background-image: url(./../asset/img/plane.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -100%);
	transition: .5s;
}

.air__text {
	font-weight: 800;
	font-size: 20px;
	line-height: 20px;
	text-align: center;
	letter-spacing: 0.02em;
	color: var(--main-color);
	opacity: 1;
	transition: .5s;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, 100%);

	&.hidden {
		position: absolute;
		opacity: 0;
		transition: .5s;
	}
}

.air-button {
	width: 206px;
	height: 206px;
	border: none;
	background-color: #ffffff;
	border-radius: 50%;
	position: relative;
	transform-style: preserve-3d;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 29px;
	cursor: pointer;
	margin-top: 60px;

	&:focus-visible {
		outline: none;
	}

	&::before {
		content: '';
		display: block;
		width: 216px;
		height: 216px;
		border-radius: 50%;
		background: linear-gradient(93.29deg, var(--main-color) 21.04%, #A483E2 88.77%);
		position: absolute;
		top: -5px;
		left: -5px;
		transform: translateZ(-1px);
		transition: .5s;
	}

	&:focus,
	&:hover {
		background-color: var(--main-color);
		transition: .5s;

		&::before {
			background: var(--main-color);
			transition: .5s;
		}

		.plane {
			transform: translate(30%, 25%) scale(1.5);
			top: 0;
			right: 0;
			transition: .5s;
		}

		.air__text {
			color: #ffffff;
			// transform: translateY(-38px);
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			transition: .5s;
		}
	}

	&.sent {
		background-color: var(--main-color);
		transition: .5s;

		&::before {
			background: var(--main-color);
			transition: .5s;
		}

		.plane {

			transform: translate(150%, -150%) scale(0);
			transition: .7s;
			transition-timing-function: ease-in-out;
		}

		.air__text {
			color: #ffffff;
			// transform: translateY(-38px);
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			transition: .5s;
		}
	}
}

@media screen and (min-width: 768px) {
	.form__box {
		max-width: 756px;
		margin-top: 100px;
	}

	.just__input {
		display: flex;
		gap: 20px;
	}

	.name--container {
		flex: 0 0 60%;
	}

	.input,
	.placeholder {
		font-size: 26px;
		line-height: 31px;
	}

	.air-button {
		width: 216px;
		height: 216px;

		&::before {
			width: 226px;
			height: 226px;
		}
	}
}

@media screen and (min-width: 1024px) {
	.form__box {
		max-width: 100%;
		margin-top: 120px;
	}

	form {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		gap: 60px;
	}

	.fields {
		width: 100%;
		max-width: 741px;
		margin-right: 40px;
	}

	.air__button {
		margin-top: 0;
	}
}