.header-wrapper {
	padding: 0 40px;
	display: flex;
	justify-content: center;
}

.header-flex {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1820px;
	min-height: 96px;
	position: relative;
}

.logo {
	width: 84px;
	z-index: 1;

	a {
		width: 100%;
		height: 100%;
		cursor: pointer;
	}

	svg {
		width: 100%;
	}
}

.menu-box {
	display: none;
}

.start__box {
	display: none;
}

.burger {
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	background-color: transparent;
	cursor: pointer;
}

.dots {
	width: 7px;
	height: 7px;
	background-color: var(--main-color);
	border-radius: 50%;
	position: relative;
	transition: .5s;

	&::before,
	&::after {
		content: "";
		display: block;
		width: 7px;
		transition: .5s;
		height: 7px;
		border-radius: 50%;
		background-color: var(--main-color);
		position: absolute;
		top: 0;
	}

	&::before {
		left: -10px;
	}

	&::after {
		right: -10px;
	}
}

@mixin active {
	position: relative;

	&::after {
		content: "";
		display: block;
		width: 5px;
		height: 5px;
		border-radius: 50%;
		background-color: var(--main-color);
		position: absolute;
		left: 50%;
		bottom: -7px;
		transform: translateX(-50%);
		transition: .25s;
		opacity: 0;
	}

}

@media screen and (min-width: 768px) {
	.logo {
		width: 112px;
	}

	.burger__wrap {
		display: none;
	}

	.start__box {
		display: flex;
		gap: 16px;
		align-items: center;
		z-index: 1;
	}

	.lang__box {
		display: flex;
		align-items: center;
		gap: 8px;
	}

	.language__button {
		text-decoration: none;
		font-size: 16px;
		font-weight: 700;
		color: #949292;
		cursor: pointer;
		@include active();
		transition: .25s;

		&:hover {
			color: var(--main-color);
		}
	}

	.menu-item--active {
		color: var(--main-color) !important;

		&::after {
			opacity: 1 !important;
		}
	}

	.start__button {
		font-size: 16px;
		color: var(--main-color);
		text-transform: uppercase;
		font-weight: 800;
		text-decoration: none;
		display: flex;
		align-items: center;
		gap: .5em;
		position: relative;
		padding: 0 1.1em;

		&::after {
			content: "";
			display: block;
			width: 15px;
			height: 14px;
			background-image: url(./../asset/img/arrow.svg);
			background-repeat: no-repeat;
			background-position: center;
			background-size: 100%;
		}

		&::before {
			content: "";
			display: block;
			width: 3.2em;
			height: 3.2em;
			border-radius: 1.6em;
			border: solid 1px #E2E2E2;
			position: absolute;
			top: 50%;
			right: 0;
			transform: translateY(-50%);
			transition: .25s;
			z-index: -1;

		}

		&:hover {
			&::before {
				border-color: var(--main-color);
				width: 100%;
			}
		}
	}
}

@media screen and (min-width: 1024px) {
	.menu-box {
		display: flex;
		position: absolute;
		top: 0;
		left: 0;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
	}

	.top-menu {
		display: flex;
		gap: 50px;
	}

	.top-menu-item {
		text-decoration: none;
		font-size: 18px;
		font-weight: 500;
		color: var(--text--dark);
		@include active();

		&:hover {
			color: var(--main-color);
			transition: .25s;
		}
	}
}

@media screen and (min-width: 1440px) {
	.burger__wrap {
		display: flex;
		width: 100vw;
		padding: 0 40px;
		justify-content: center;
		position: fixed;
		left: 0;
		top: 430px;
	}

	.burger__inwrap {
		width: 100%;
		max-width: 1820px;
		;
	}

	.burger {
		transition: .5s;

		&:hover {
			.dots {
				height: 100%;
				border-radius: 3px;
				rotate: 90deg;
				transition: .5s;

				&::before,
				&::after {
					height: 100%;
					border-radius: 3px;
					transition: .5s;
				}
			}
		}
	}
}