
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
  --main-color: #388af3;
  --text--dark: #303030;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
a{
  text-decoration: none;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}
.wrapper{
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}
.content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
main{
  flex: auto;
  color: #303030;
  min-height: 120px;
  padding-top: 33px;
  padding-bottom: 100px;
}
